.modal {
  background-color:#fff;
  display:none;
  width:350px;
  padding:0px 15px 15px 15px;
  text-align:left;
  border:2px solid #333;
  position: absolute;
  margin: 0 auto;
  left:0;
  right:0;
 
  opacity:0.8;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  -moz-box-shadow: 0 0 50px #ccc;
  -webkit-box-shadow: 0 0 50px #ccc;
  
  h3 {
    margin:0px;
    padding:2px 0 10px 45px;
    border-bottom:1px solid #333;
    font-size:20px;
  }  
  
  form {
    .labelDiv {
      margin-bottom: 5px;
      vertical-align: top;
      label {
        vertical-align: top;
        width: 100px;
        display: inline-block;
      }        
      input {
        display: inline;
      }
    }
  }
}
 
#wpc_msg {
  margin:10px auto;
  border:1px dashed gray;
  width:90%;
  text-align:center;
}

form#event_types {
  .formRow {
    margin-bottom: 7px;
    padding-left: 20px;
    h3 {
      margin-left:-10px;
    }
    label {
      display: inline-block;
      padding-left: 15px;
      input {
        width: 150px;

      }
    }
  }
  .verticalSpace {
    padding-top: 20px;
  }
}

/* =Calendar
-----------------------------------------------------------------------------*/

#cal {
  width: 876px;
  overflow: hidden;
  margin: 20px auto 0px auto;
  a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    margin: 0px 0px 5px 2px;
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }
  .header {
    width: 876px;
    margin: 0px auto 0px auto;
    height: 85px;
    background: url(../images/cal-header-bg.png) repeat-x;
    
    .arrowleft {
      float: left;
      width: 50px;
      height: 70px;
      background: url(../images/arrow-left.png) no-repeat;
      background-position: top;
      cursor: pointer;
      &:hover {
        background-position: bottom;
      }
    }
    .arrowright {
      float: right;
      width: 50px;
      height: 70px;
      background: url(../images/arrow-right.png) no-repeat;
      background-position: top;
      cursor: pointer;
      &:hover {
        background-position: bottom;
      }
    }
  }
  
  #slideshow {
    #slidesContainer {
      .slide {
        .month {
          text-transform: uppercase;
          margin-left: auto;
          margin-right: auto;
          width: 778px;
          height: 48px;
          font-size: 24px;
          color: #000000;
          font-weight: bold;
          text-align: center;
          z-index: 100;
          margin-top: -61px;
        }     
           
        .weekDayWrapper {
          margin: 0px auto 0px auto;
          overflow: hidden;
          width: 100%;
          
          .weekDay {
            float: left;
            width: 123px;
            height: 17px;
            border-left: 1px solid #d6c19a;
            border-top: 1px solid #000000;
            border-right: 1px solid #000000;
            border-bottom: 1px solid #FFFFFF;
            background: #d6c19a;
            text-align: center;
            color: #000000;
            font-weight: bold;
            padding: 8px 0px 5px 0px;
          }
          
          .weekDayLast {
            float: left;
            width: 124px;
            height: 17px;
            border-top: 1px solid #000000;
            border-right: 1px solid #000000;
            border-bottom: 1px solid #FFFFFF;
            background: #d6c19a;
            text-align: center;
            color: #000000;
            font-weight: bold;
            padding: 8px 0px 5px 0px;
          }
          
          .weekDayFirst {
            float: left;
            width: 124px;
            height: 17px;
            border-left: 1px solid #d6c19a;
            border-top: 1px solid #000000;
            border-right: 1px solid #000000;
            border-bottom: 1px solid #FFFFFF;
            background: #d6c19a;
            text-align: center;
            color: #000000;
            font-weight: bold;
            padding: 8px 0px 5px 0px;
          }  
        }

        .day, .dayOn {
          width: 123px;
          border: 1px solid #e3e1e1;
          height: 128px;
          float: left;
          text-align: left;
          position: relative;
          .add_event {
            position: absolute;
            bottom: 0;
            left: 0;
            margin-bottom: 1px;
            cursor:pointer;
            margin-left:4px;
            padding:1px;
            color:#000000 !important;
          } 
        }
        
        .dayNumber {
          float: left;
          padding: 5px 10px 3px 10px;
          text-align: center;
          color: #000;
          font-size: 18px;
          font-weight: bold;
          clear: both;
          border-right: 1px solid #e3e1e1;
          border-bottom: 1px solid #e3e1e1;
          a {
            color: #000;
            text-decoration: none;
            border-bottom: 1px solid #3c3931;
          }
        }
      }
    }
  }
}